1. How many ways are there to call a function in R?
  There are 3 ways to call the function in R. They are as follows:
  1. By full name 
  2. By Partial name (matching few of the intial characters of the argument name)
  3. By poistion

2. Is the below statement true?
• The lazy evaluation of a function means, the argument is evaluated only if it is evaluated
only if it is used inside the body of the function.
    True

3. Mention true or false for below statements:
a. Insights driven from descriptive analytics is not meaningful.
    False
b. The number of values in each Elements of a list, should be equal.
    True
c. The datasets are not stored in memory of the computer using R.
    False
d. Data frames and matrices are two dimensional however the array is multidimensional.
    False
